*~
*.cmd
*.o
*.pyc
*.gcda
*.gcno
.tmp_*
.config
cscope.files
cscope.out
.nfs*
build
/doc/undertaker-kconfigdump.1.gz
/doc/undertaker-linux-tree.1.gz
/doc/undertaker.1.gz
/version.h
/picosat/config.h
/picosat/libpicosat.a
/picosat/makefile
*.swp
